includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80500
    level: max
    paths:
        - app/V1
        - config
        - database
        - tests
    tmpDir: storage/framework/cache/phpstan
